<header class="d-flex justify-content-between align-items-center px-5 py-4 bg-primary">
    <div class="logo">
        <a href="index.html">BURR <i class="fa-solid fa-person-running"></i> SPORT</a>
    </div>
    <nav>
        <ul class="list-inline">
            <li class="list-inline-item"><a  href="members.html">Miembros</a></li>
            <li class="list-inline-item"><a  href="article.html">Artículo</a></li>
            <li class="list-inline-item"><a  href="form.html">Formulario</a></li>
            <li class="list-inline-item"><a  href="article-tailwind.html">Articulo-TW</a></li>
            <li class="list-inline-item"><a  href="form-tailwind.html">Form-TW</a></li>
            <li class="list-inline-item"><a  href="AI-Page.html">Página IA</a></li>
        </ul>
    </nav>
</header>